nav {
  position: fixed;
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0 5%;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.8);
}

nav .logo {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 24px;
  color: #333;
  letter-spacing: 3px;
  gap: 10px;
}

nav .logo a {
  text-decoration: none;
  color: #333;
}
nav .logo a i {
  font-size: 2.5rem;
}

nav .links {
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav .links li {
  list-style: none;
}
nav .links li a {
  display: block;
  padding: 0.6rem 1rem;
  margin: 0.5rem 20px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  text-decoration: none;
  letter-spacing: 4px;
  position: relative;
}
nav .links li a:after {
  content: "";
  position: absolute;
  background-color: #333;
  height: 2px;
  width: 0;
  left: 0;
  bottom: 1px;
  transition: 0.3s;
}
nav .links li a:hover:after {
  width: 100%;
}

#nav-toggle {
  position: absolute;
  top: -100px;
}

nav .icon-burger {
  display: none;
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
}

nav .icon-burger .line {
  width: 30px;
  height: 5px;
  background-color: #333;
  margin: 5px;
  border-radius: 3px;
  transition: all 0.45s ease-in-out;
}

@media screen and (max-width: 768px) {
  nav .logo {
    float: none;
    width: auto;
    justify-content: center;
  }
  nav .links {
    float: none;
    position: fixed;
    z-index: 9;
    left: 0;
    right: 0;
    top: 100px;
    bottom: 100%;
    width: auto;
    height: auto;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.8);
    justify-content: flex-start;
    overflow: hidden;
    transition: all 0.8s ease-in-out;
  }
  nav .links a {
    font-size: 20px;
  }
  nav :checked ~ .links {
    bottom: 65%;
  }
  nav .icon-burger {
    display: block;
  }
  nav :checked ~ .icon-burger .line:nth-child(1) {
    transform: translateY(10px) rotate(225deg);
  }
  nav :checked ~ .icon-burger .line:nth-child(3) {
    transform: translateY(-10px) rotate(-225deg);
  }
  nav :checked ~ .icon-burger .line:nth-child(2) {
    opacity: 0;
    transition: 0.13s;
  }
}
.m-100px {
  margin-top: 100px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  background: #f4f4f4;
  color: #333;
}

a {
  color: #333;
  text-decoration: none;
}

.pt-120 {
  padding-top: 120px;
}

.container {
  width: clamp(500px, 80%, 1200px);
  margin: 30px auto;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.m-03 {
  margin: 0.3rem;
}

.m-05 {
  margin: 0.5rem;
}

.m-1 {
  margin: 1rem;
}

.m-2 {
  margin: 2rem;
}

/* Card */
.card {
  /* width: 190px; */
  /* height: 254px; */
  aspect-ratio: 4/5;
  /* box-shadow: 0 3px 10px rgb(0 0 0 / 0.2); */
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  position: relative;
  margin: 0.5rem;
  overflow: hidden;
  border-radius: 2px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.details > p {
  font-size: 0.8em;
  margin-top: 0.5em;
}

.details > label {
  font-weight: bold;
}

.details {
  color: white;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  width: 100%;
  background: rgba(101, 113, 102, 0.568627451);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  position: absolute;
  bottom: 0;
  height: 2.6em;
  transition: height 0.3s ease-in-out;
  padding: 0.6em;
  overflow: hidden;
}

.card-flex {
  display: flex;
}

.card:hover > .details {
  height: 9rem;
}

.card:hover > img {
  transform: scale(1.1);
}

.card:hover {
  transform: scale(1.01);
  box-shadow: 0 0px 15px rgba(0, 0, 0, 0.3);
}

.details p {
  margin-bottom: 7px;
}

.btn {
  padding: 0.4rem 0.8rem;
  margin: 0 2px;
  background: rgb(232, 180, 180);
  color: #333;
  border-radius: 2px;
  transition: background 0.2s ease-in-out;
}
.btn-secondary {
  background: rgb(174, 205, 206);
}
.btn-tertiary {
  background: rgb(238, 244, 244);
}
.btn:hover {
  background: #e4a994;
}

.pub-link {
  color: white;
}/*# sourceMappingURL=style.css.map */